.s-ourClients {
    height: 100%;
    padding-bottom: 8rem;
}

.s-ourClients .container {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
}

.s-ourClients .text h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-top: 4rem;
    letter-spacing: -0.8px;
}

.s-ourClients .clientes .f1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 80%;
    margin: 0 auto;
    margin-top: 5rem;
}

.s-ourClients .clientes .f2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 77%;
    margin: 0 auto;
    margin-top: 3.5rem;
}

.f1 img,
.f2 img {
    width: 80%;
}

.c-mobile {
    display: none;
}

@media (max-width: 575px) {
    .s-ourClients .text h1 {
        margin-bottom: -2rem;
        text-align: center;
        font-size: 40px;
        font-weight: 500;
        margin-top: 4rem;
        letter-spacing: -0.8px;
    }

    .f1 img,
    .f2 img{
        display: none;
    }

    .c-mobile {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .c-mobile img {
        width: 100%;
    }

    .l1,
    .l2,
    .l3,
    .l4,
    .l5,
    .l6,
    .l7 {
        display: flex;
        width: 100%;
        align-items: center;
        gap: 1rem;
        justify-content: space-around;
        margin: 2rem 0; 
    }
}