.s-footer {
    background-color: #EEEEF0;
    width: 105%;
}

.s-footer .container {
    position: relative;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 3rem 0;
}

.s-footer .container .f-top,
.s-footer .container .f-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}

.s-footer .container .f-top .c1 img.patternMobile {
    display: none;
}

.s-footer .container .f-top .c1 p {
    color: #272727;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -.44px;
    line-height: 1.2;
    margin: .6rem 0;
}

.s-footer .container .f-top .c1 .socials svg {
    width: 18%;
    margin-right: .8rem;
}

.s-footer .container .m-contatos {
    display: none;
}

.s-footer .container .f-top .c1 .text-mobile {
    display: none;
}

.s-footer .container .f-top .divisor img {
    width: 80%;
}

.s-footer .container .f-top .menu-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
}

.s-footer .container .f-top .menu-footer li.first {
    color: #272727;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -.44px;
    padding-bottom: 1rem;
    display: inline-block;
}

.s-footer .container .f-top .menu-footer a {
    color: #5E5E5E;
    font-size: 17px
;
    line-height: 2;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.s-footer .container .f-top .menu-footer a:hover {
    color: #272727;
}

.s-footer .container .f-top .menu-footer .n-c5 svg,
.s-footer .container .f-top .menu-footer .n-c5 .l-mobile{
    display: none;
}

.s-footer .container svg.divisor {
    width: 100%;
    margin: 3rem 0;
}

.s-footer .container svg.divisor2 {
    display: none;
}

.s-footer .container .f-bottom p {
    font-size: 16px;
    color: #5E5E5E;
    letter-spacing: .16px;
}

.s-footer .container .f-top .divisor svg {
    display: none;
}

.s-footer .container .m-socials {
    display: none;
}

@media (min-width: 2000px) {
    .s-footer .container .f-top .c1 .socials svg {
        width: 27%!important;
    }

    .s-footer .container .f-top .c1 {
        width: 216px;
    }

}

@media (min-width: 1001px) and (max-width: 1999px) {
    .s-footer .container .f-top .c1 {
        width: 216px;
    }
}

@media (min-width: 1600px) {
    .s-footer .container .f-top .menu-footer {
        display: flex;
        gap: 95px;
    }
}


@media (max-width: 1000px) {
    .s-footer .container .f-top .divisor img {
        display: none;
    }

    .s-footer .container .f-top .menu-footer  {
        gap: 20px;
        align-self: center;
    }
}

@media (max-width: 767px) {
    .s-footer .container .f-top {
        flex-direction: column;
    }

    .s-footer .container .f-top .c1 {
        margin-bottom: 1.8rem;
        text-align: center;
    }

    .s-footer .container .f-top .c1 p {
        text-align: center;
    }

    .s-footer .container .f-top .c1 .socials {
        text-align: center;
    }

    .s-footer .container .f-top .c1 .socials svg {
        width: 7%;
    }

    .s-footer .container .f-bottom {
        justify-content: center;
    }

    .s-footer .container .f-bottom p.second {
        display: none;
    }
}

@media (max-width: 575px) {

    .s-footer {
        width: 100%;
    }

    .s-footer .container .f-top .c1 img.patternMobile {
        display: block;
        position: absolute;
        right: 24px;
        top: 3rem;
    }

    .s-footer .container .f-top .c1 p.p-mobile {
        display: none;
    }

    .s-footer .container .f-top .c1 p.text-mobile{
        display: block;
        text-align: left;
    }

    .s-footer .container .m-contatos {
        display: block;
        margin-bottom: 1rem;
    }
    
    .s-footer .container .m-contatos li {
        margin-bottom: 1.5rem;
        margin-left: 3rem;
        position: relative;
    }

    .s-footer .container .m-contatos svg.m-svg {
        width: 8%;
        position: absolute;
        left: -2.2rem;
        top: -.1rem;
    }

    .s-footer .container .m-contatos a {
        color: #5E5E5E;
        text-decoration: underline;
        font-size: 16px;
    }

    .s-footer .container .m-contatos a.p-a {
        color: #272727;
        text-decoration: none;
    }
    
    .s-footer .container .m-contatos span {
        margin-left: 7%;
        color: #989898;
        font-size: 16px;
        letter-spacing: .16px;
    }

    .s-footer .container .f-top .c1 .socials {
        display: none;
    }

    .s-footer .container .f-top .c1 {
        margin-bottom: 1.8rem;
        text-align: left;
    }

    .s-footer .container .f-top .c1 svg.logo {
        width: 30%;
    }

    .s-footer .container .f-top .divisor svg,
    .s-footer .container svg.divisor2 {
        display: block;
        margin: 0 auto;
    }

    .s-footer .container .f-top .menu-footer {
        flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        margin: 2rem 0;
        align-self: flex-start;
    }

    .s-footer .container .f-top .menu-footer .n-c5{
        display: none;
    }

    .s-footer .container svg.divisor {
        display: none;
    }

    .s-footer .container .f-bottom p{
        margin-top: 2rem;
    }
}

@media (max-width: 520px) {
    .s-footer {
        width: 100%;
    }


    .s-footer .container .f-top .c1 svg.logo {
        width: 50%;
    }
}

@media (max-width: 500px) {

    .s-footer {
        width: 100%;
    }

    .s-footer .container .f-top .menu-footer .n-c1 {
        margin-left: 1rem;
    }

    .s-footer .container .f-top .menu-footer .n-c2 {
        margin-left: 6rem;
    }

    .s-footer .container .f-top .menu-footer .n-c3 {
        margin-left: 1rem;
    }

    .s-footer .container .f-top .menu-footer .n-c4 {
        margin-left: 3rem;
    }
}