* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  text-align: left;
  border: 0;
  color: #272727;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0!important;
  font-family: 'Red Hat Display', sans-serif;
}

body {
  overflow-x: hidden!important;
  background-color: #f5f5f7;
}

#root {
  overflow-x: hidden;
}

.container {
  width: 1248px;
  margin: 0 auto;
}

@media (max-width: 1255px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 1640px) {
  body {
    zoom: 1;
    overflow-x: hidden;
  }

  .container {
    width: 90%;
  }  
}

@media (min-width: 1640px) and (max-width: 2000px) {
  body {
    zoom: 1;
  }

  .container {
    width: 90%;
  }
}

@media (min-width: 2001px) {
  .container {
    width: 1680px;
  }

  body {
    zoom: 1.1;
  }
}

@media (min-width: 414px) and (max-width: 580px) {
  body#root {
    overflow-x: hidden!important;
  }
}